@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var isLogggedIn = false;
    if (Context.Session.GetString("isLoggedIn") != null)
    {
        isLogggedIn = Context.Session.GetString("isLoggedIn").Equals("true");
    }

	var role = "";
	if (Context.Session.GetString("Role") != null)
	{
		role = Context.Session.GetString("Role");
	}
}

<nav id="sidebar" class="sidebar js-sidebar">
	<div class="sidebar-content js-simplebar">
		<a class="sidebar-brand" href="index.html">
			<span class="align-middle">Light CMS</span>
		</a>

		<ul class="sidebar-nav">
			<li class="sidebar-header">
				Pages
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="/">
					<i class="align-middle" data-feather="home"></i> <span class="align-middle">Home</span>
				</a>
			</li>
			@if(isLogggedIn){

				@if(role.Equals("Student")){
					<li class="sidebar-item">
						<a class="sidebar-link" href="/Course">
							<i class="align-middle" data-feather="grid"></i> <span class="align-middle">Dashboard</span>
						</a>
					</li>
				

					<li class="sidebar-item">
						<a class="sidebar-link" href="/Course/RegisteredCourse">
							<i class="align-middle" data-feather="book"></i> <span class="align-middle">Your Registered Course</span>
						</a>
					</li>
				}

				@if (role.Equals("Teacher"))
				{
					<li class="sidebar-item">
						<a class="sidebar-link" href="/Course/ManagedCourse">
							<i class="align-middle" data-feather="book"></i> <span class="align-middle">Your Course</span>
						</a>
					</li>
				}

				<li class="sidebar-item">
					<a class="sidebar-link" href="/Account/Profile">
						<i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
					</a>
				</li>

				<li class="sidebar-item">
					<a class="sidebar-link" href="/Account/Logout">
						<i class="align-middle" data-feather="log-in"></i> <span class="align-middle">Log Out</span>
					</a>
				</li>
			}
		</ul>
	</div>
</nav>
