@{
    ViewData["Title"] = "Detail";
}

<body>
    <div class="wrapper">

        <div id="sb-partialDiv">
            @await Component.InvokeAsync("Sidebar", new {})
        </div>

        <div class="main">
            <div id="sb-partialDiv">
                @await Component.InvokeAsync("Navbar", new {})
            </div>

            <main class="content">
                <div class="container-fluid p-0">


                </div>
            </main>

            <div id="sb-partialDiv">
                @await Component.InvokeAsync("Footer", new {})
            </div>
        </div>
    </div>
</body>

<script src="~/js/app.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
