@{
    ViewData["Title"] = "Registered Course";
}
@model IEnumerable<LightCMS.DTO.CourseDTO>

<body>
    <div class="wrapper">

        <div id="sb-partialDiv">
            @await Component.InvokeAsync("Sidebar", new { })
        </div>

        <div class="main">
            <div id="sb-partialDiv">
                @await Component.InvokeAsync("Navbar", new { })
            </div>

            <main class="content">
                <div class="container-fluid p-0">

                    <div class="row d-flex justify-content-between mb-2">
                        <h1 class="h3 mb-3 w-auto">Your <strong>Registed Courses</strong></h1>
                        <div class="w-auto">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="cardV" checked>
                                <label class="form-check-label" for="flexRadioDefault1" id="cardLabel">
                                    Card View
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="listV">
                                <label class="form-check-label" for="flexRadioDefault2" id="listLabel">
                                    List View
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="card-view" style="display: block">
                        <div class="col-12 d-flex">
                            <div class="w-100">
                                <div class="row">
                                    @foreach (var course in @Model)
                                    {
                                        <div class="col-sm-3">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col mt-0">
                                                            <h5 class="card-title">Slot @course.Slot</h5>
                                                        </div>

                                                        <div class="col-auto">
                                                            <div class="stat text-primary">
                                                                <a href="/Course/Unenroll?courseId=@course.CourseId"><i class="align-middle me-2" data-feather="minus-circle"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h1 class="mt-1 mb-3">
                                                        <a href="/Course/Detail/@course.CourseId">@course.CourseName</a>
                                                    </h1>
                                                    <div class="mb-0">
                                                        <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 2.25% </span>
                                                        <span class="text-muted">complete</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="list-view" style="display: none">
                        <div class="col-12 d-flex">
                            <div class="card flex-fill">
                                <div class="card-header">

                                    <h5 class="card-title mb-0">Latest Projects</h5>
                                </div>
                                <table class="table table-hover my-0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th class="d-none d-xl-table-cell">Slot</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var course in @Model)
                                        {
                                            <tr>
                                                <td><a href="/Course/Detail/@course.CourseId">@course.CourseName</a></td>
                                                <td class="d-none d-xl-table-cell">Slot @course.Slot</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </main>

            <div id="sb-partialDiv">
                @await Component.InvokeAsync("Footer", new { })
            </div>
        </div>
    </div>
</body>

<script src="~/js/app.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#cardV, #cardLabel").click(function () {
            $("#cardV").prop("checked", true);
            $("#card-view").css("display", "block");
            $("#list-view").css("display", "none");
        });
        $("#listV, #listLabel").click(function () {
            $("#listV").prop("checked", true);
            $("#card-view").css("display", "none");
            $("#list-view").css("display", "block");
        });
    });
</script>