@{
	ViewData["Title"] = "Topic Content";
	var role = "";
	if (Context.Session.GetString("Role") != null)
	{
		role = Context.Session.GetString("Role");
	}
}

<body>
	<div class="wrapper">

		<div id="sb-partialDiv">
			@await Component.InvokeAsync("Sidebar", new {})
		</div>

		<div class="main">
			<div id="sb-partialDiv">
				@await Component.InvokeAsync("Navbar", new {})
			</div>

			@if (role.Equals("Student"))
			{
				<main class="content">
					<div class="container-fluid p-0 col-lg-8">

						<div class="mb-3">
							<h1 class="h3 d-inline align-middle">Topic Content</h1>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="card">
									<img class="card-img-top" src="https://images02.vietnamworks.com//companyprofile/FPT-Education/en/image6.jpg" alt="Unsplash">
									<div class="card-header">
										<h5 class="card-title mb-0">Assignment 1</h5>
									</div>
									<div class="card-body">
										<p class="card-text">Write a program that prints the numbers from 1 to 100. 
											But for multiples of three print Fizz instead of the number and for the multiples of five print Buzz. 
											For numbers which are multiples of both three and five print FizzBuzz.</p>
										<button id="btnSubmit" class="btn btn-primary">Submit your work</button>
									</div>
								</div>
								<div id="form-zip" class="card" style="display: none">
									<form method="post" enctype="multipart/form-data">
										<div class="card-header">
											<h5 class="card-title mb-0">Upload your zip file here</h5>
										</div>
										<div class="card-body">
											<input type="file" accept=".zip,.rar" />
										</div>
										<div class="card-body">
											<input type="submit" class="btn btn-success" value="Upload" />
										</div>
									</form>
								</div>
							</div>

						</div>

					</div>
				</main>
			}

			@if (role.Equals("Teacher"))
			{
				<main class="content">
					<div class="container-fluid p-0 col-lg-10">

						<div class="mb-3">
							<h1 class="h3 d-inline align-middle">Topic Content</h1>
						</div>
						<div class="row">
							<div class="col-md-8">
								<div class="card">
									<img class="card-img-top" src="https://images02.vietnamworks.com//companyprofile/FPT-Education/en/image6.jpg" alt="Unsplash">
									<div class="card-header">
										<h5 class="card-title mb-0">Assignment 1</h5>
									</div>
									<div class="card-body">
										<p class="card-text">Write a program that prints the numbers from 1 to 100. 
											But for multiples of three print Fizz instead of the number and for the multiples of five print Buzz. 
											For numbers which are multiples of both three and five print FizzBuzz.</p>
										<div class="d-flex justify-content-between">
											<a href="#"><i class="align-middle me-2" data-feather="edit"></i> <span class="align-middle">Edit</span></a>
											<a href="#"><i class="align-middle me-2" data-feather="trash"></i> <span class="align-middle">Delete</span></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title mb-0">Submission</h5>
									</div>
									<div class="card-body">
										<p class="card-text">Number of Submission: 6</p>
										<div>
											<a href="#" class="card-link">LongNVHE150379</a><br/>
											<a href="#" class="card-link">LongNVHE150379</a><br/>											
											<a href="#" class="card-link">LongNVHE150379</a><br/>
											<a href="#" class="card-link">LongNVHE150379</a><br/>
										</div>

									</div>
								</div>
							</div>
						</div>

					</div>
				</main>
			}

			<div id="sb-partialDiv">
				@await Component.InvokeAsync("Footer", new {})
			</div>
		</div>
	</div>
</body>

<script src="~/js/app.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#btnSubmit").click(function() {
			$("#form-zip").css("display", "block");
		});
	});
</script>

